<h1><%= @task.title %></h1>

<p><%= @task.details %></p>
<br>
<br>
<% if @task.completed %>
  <i class="far fa-check-square"><p>This task is completed.</p></i>
<% else %>
  <i class="far fa-square"></i>
  <p>This task is NOT completed.</p>
<% end %>
<br>
<p><%= link_to "update task", edit_task_path %></p>
<br>
<br>
<p><%= link_to "Back to list", tasks_path %></p>

