// Place all the styles related to the TasksController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  color: #0082FF;
  font-size: 24px;
}

h1 {
  font-family: Arial;
  color: #4267B2;
  font-size: 64px;
}

body {
background-image: url();
}

li {
  font-family: Arial;
  font-size: 24px;
}

p {
  font-family: Arial;
}
